{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "global-require": "off",
    "no-underscore-dangle": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react-native/no-unused-styles": "off",
    "react-native/split-platform-components": "off",
    "react-native/no-inline-styles": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": 1
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "semi": ["error", "always"],
    "dot-notation": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "plugins": ["react", "react-hooks", "prettier"]
}
